@page "/chat"
@using System.Threading
@using Stl.Fusion.Authentication.Commands
@inherits MixedStateComponent<Chat.Model, Chat.LocalsModel>
@inject Session _session
@inject IChatService _chats
@inject UICommandRunner _uiCommandRunner
@inject NavigationManager _nav
@inject ILogger<Chat> _log

@{
    var locals = MutableState.Value;
    var state = State.LatestNonErrorValue;
    var lastPage = state.LastPage;
    var error = State.Error;
}

<div>
    <div class="float-right">
        <Badge Color="Color.Light">
            @(state.UserCount) <Blazorise.Icon Name="FontAwesomeIcons.Users"/>
        </Badge>
        <Badge Color="Color.Primary">
            @(state.ActiveUserCount) <Blazorise.Icon Name="FontAwesomeIcons.Plug"/>
        </Badge>
    </div>
    <h1>Chat</h1>
</div>

<Note>
    Open <a href="@_nav.Uri" target="_blank">this page</a> or
    <a href="/composition" target="_blank">Composition example</a>
    in another window to see everything is updated in sync in real time.
</Note>

<WhenUpdateError Exception="@error"/>

<AuthorizeView>
    <Authorized>
        @if (state.ChatUser.Name != locals.Name) {
            <Badge Color="Color.Primary">Current name: @state.ChatUser.Name</Badge>
        }
        <form @onsubmit="SetName">

            <Addons>
                <Addon AddonType="AddonType.Start">
                    <AddonLabel>Your name</AddonLabel>
                </Addon>
                <TextEdit @bind-Text="@locals.Name" type="search" />
                <Addon>
                    <Button Type="@ButtonType.Submit" Color="Color.Warning">Change</Button>
                </Addon>
            </Addons>
        </form>
    </Authorized>
</AuthorizeView>

<Table Narrow="true" Striped="true" Margin="Margin.Is3.OnY">
    <TableHeader ThemeContrast="ThemeContrast.Dark">
        <TableRow>
            <TableHeaderCell>User</TableHeaderCell>
            <TableHeaderCell>Message</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        @foreach(var message in lastPage.Messages) {
            var user = lastPage.Users[message.UserId];
            <TableRow>
                <TableRowCell Style="width: 20%; max-width: 33%">@user.Name</TableRowCell>
                <TableRowCell Style="width: auto; min-width: 67%">@message.Text</TableRowCell>
            </TableRow>
        }
    </TableBody>
</Table>

<AuthorizeView>
    <Authorized>
        <form @onsubmit="Post">
            <Addons>
                <Addon AddonType="AddonType.Start">
                    <AddonLabel>Message</AddonLabel>
                </Addon>
                <TextEdit @bind-Text="@locals.Message" Placeholder="No ideas? Send an empty one!" type="search" />
                <Addon AddonType="AddonType.End">
                    <Button Type="@ButtonType.Submit" Color="Color.Success">Send</Button>
                </Addon>
            </Addons>
        </form>
    </Authorized>
    <NotAuthorized>
        <SignInDropdown Why="to chat"></SignInDropdown>
    </NotAuthorized>
</AuthorizeView>

@code {
    public class LocalsModel
    {
        private string _name = "";

        public string Name {
            get => _name;
            set {
                if (_name == value)
                    return;
                _name = value;
                IsNameModified = true;
            }
        }

        public bool IsNameModified { get; set; }
        public string Message { get; set; } = "";
    }

    public class Model
    {
        public long UserCount { get; set; }
        public long ActiveUserCount { get; set; }
        public ChatUser ChatUser { get; set; } = ChatUser.None;
        public ChatPage LastPage { get; set; } = new();
    }

    protected override void OnInitialized()
    {
        // Mutable state content is updated implicitly via bind-* here,
        // and since such a change doesn't trigger State recompute + StateHasChanged(),
        // we enable this feat. to make it happen on event.
        EnableStateHasChangedCallAfterEvent = true;
        base.OnInitialized();
    }

    protected override MutableState<LocalsModel>.Options GetMutableStateOptions()
        => new () { InitialValue = new() };

    protected override ComputedState<Model>.Options GetStateOptions()
        => new () { InitialValue = new() };

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken)
    {
        var userCount = await _chats.GetUserCount(cancellationToken);
        var activeUserCount = await _chats.GetActiveUserCount(cancellationToken);
        var chatUser = await _chats.GetCurrentUser(_session, cancellationToken);
        var lastPage = await _chats.GetChatTail(30, cancellationToken);
        if (!MutableState.Value.IsNameModified)
            ResetName(chatUser.IsValid ? chatUser.Name : "");
        return new Model() {
            UserCount = userCount,
            ActiveUserCount = activeUserCount,
            ChatUser = chatUser,
            LastPage = lastPage,
        };
    }

    private async Task SetName()
    {
        var locals = MutableState.Value;
        var command = new EditUserCommand(_session, locals.Name ?? "");
        var (_, ce) = await _uiCommandRunner.Run(LocalCommand.New(() => {
            if (command.Name!.Length < 4)
                throw new ApplicationException("The name should be at least 4 character long.");
        }));
        if (ce.IsFailed)
            return;
        await _uiCommandRunner.Run(command);
   }

    private async Task Post()
    {
        var (_, ce) = await _uiCommandRunner.Run(new IChatService.PostCommand(MutableState.Value.Message, _session));
        if (ce.IsFailed)
            return;
        MutableState.Value.Message = "";
        MutableState.Invalidate();
    }

    // Convenience shortcuts

    private void ResetName(string name)
    {
        MutableState.Value.Name = name;
        MutableState.Value.IsNameModified = false;
        MutableState.Invalidate();
    }
}
