@page "/chat"
@using System.Threading
@using Stl
@inherits LiveComponentBase<Chat.Model, Chat.LocalsModel>
@inject IChatService ChatService
@inject NavigationManager Navigator

@{
    var locals = Locals.Value;
    var state = State.LastValue;
    var lastPage = state.LastPage;
    var error = State.Error;
}

<div>
    <span class="float-right">
        <span class="badge btn-primary">
            @(state.ActiveUserCount) <span class="oi oi-chat"></span>
        </span>
        <span class="badge btn-light">
            @(state.UserCount) <span class="oi oi-people"></span>
        </span>
    </span>
    <h1>Chat</h1>
</div>

<div class="alert alert-primary">
    To see the state replication in action,
    <a href="@Navigator.Uri" target="_blank">open this chat</a> or
    <a href="/composition" target="_blank">Composition example</a>
    in another window.
</div>
@if (locals.Error != null) {
    <div class="alert alert-danger" role="alert">
        @locals.Error.Message
    </div>
}
@if (error != null) {
    <div class="alert alert-warning" role="alert">
        Update error: @error.Message
    </div>
}

<form @onsubmit="@SetNameAsync">
    <div class="input-group pb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Your name</span>
        </div>
        <input class="form-control" @bind-value="@locals.Name"/>
        <div class="input-group-append">
            <button type="submit" class="btn btn-warning">Change</button>
        </div>
    </div>
</form>

<table class="table table-sm table-striped">
    <thead>
    <tr>
        <th scope="col">User</th>
        <th scope="col">Message</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var message in lastPage.Messages) {
        var user = lastPage.Users[message.UserId];
        {
            <tr>
                <td style="width: 20%; max-width: 33%">@user.Name</td>
                <td style="width: auto; min-width: 67%">@message.Text</td>
            </tr>
        }
    }
    </tbody>
</table>

<form @onsubmit="@SendMessageAsync">
    <div class="input-group pb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Message</span>
        </div>
        <input class="form-control"
            placeholder="No ideas? Send an empty one!"
            @bind-value="@locals.Message" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-success">Send</button>
        </div>
    </div>
</form>

@code {
    public class LocalsModel
    {
        // It's global to the app, so we store it in static field
        private static volatile ChatUser? _user;

        public ChatUser? User {
            get => _user;
            set {
                _user = value;
                if (string.IsNullOrEmpty(Name) && value != null)
                    Name = value.Name;
            }
        }

        public string Name { get; set; } = "";
        public string Message { get; set; } = "";
        public Exception? Error { get; set; }
    }

    public class Model
    {
        public long UserCount { get; set; } = 0;
        public long ActiveUserCount { get; set; } = 0;
        public ChatPage LastPage { get; set; } = new ChatPage();
    }

    protected override async Task<Model> ComputeStateAsync(CancellationToken cancellationToken)
    {
        var userCount = await ChatService.GetUserCountAsync(cancellationToken);
        var activeUserCount = await ChatService.GetActiveUserCountAsync(cancellationToken);
        var lastPage = await ChatService.GetChatTailAsync(30, cancellationToken);
        return new Model() {
            UserCount = userCount,
            ActiveUserCount = activeUserCount,
            LastPage = lastPage,
        };
    }

    protected override async Task OnInitializedAsync()
    {
        if (Locals.Value.User == null)
            // Let's pre-create the user
            await SetNameAsync();
        else
            Locals.Update(l => l.Name = l.User?.Name ?? "");
    }

    private async Task SetNameAsync()
    {
        ResetError();
        var locals = Locals.Value;
        try {
            if (locals.User != null) {
                try {
                    var user1 = await ChatService.SetUserNameAsync(locals.User.Id, locals.Name);
                    Locals.Update(l => l.User = user1);
                    return;
                }
                catch {
                    // Prob. the user doesn't exist (server restarted), so we should try to recreate it.
                }
            }
            var user2 = await ChatService.CreateUserAsync(locals.Name);
            Locals.Update(l => l.User = user2);
        }
        catch (Exception e) {
            SetError(e);
        }
   }

    private async Task SendMessageAsync()
    {
        ResetError();
        try {
            var locals = Locals.Value;
            if (locals.User == null)
                throw new ApplicationException("Please set your name first.");
            await ChatService.AddMessageAsync(locals.User.Id, locals.Message);
            Locals.Update(l => l.Message = "");
        }
        catch (Exception e) {
            SetError(e);
        }
    }

    // Convenience shortcuts

    private void ResetError()
        => SetError(null);

    private void SetError(Exception? error)
        => Locals.Update(l => l.Error = error);
}
