@using Pluralize.NET
@inject IPluralize Pluralize

<div class="@CssClass">
    <div class="card-header">
        @(Title)
    </div>
    <div class="card-body">
        <table class="table table-sm">
            <tbody>
            <tr>
                <td>Parameter:</td>
                <td>@Source.Parameter</td>
            </tr>
            <tr>
                <td>Uptime:</td>
                @{
                    var uptime = (int) Source.Uptime.TotalSeconds;
                }
                <td>@Pluralize.Format("second", uptime, true)</td>
            </tr>
            <tr>
                <td>Acc.+Parameter:</td>
                <td>@(Source.Sum?.ToString() ?? "(n/a)")</td>
            </tr>
            <tr>
                <td>Last Chat Message:</td>
                <td>@Source.LastChatMessage</td>
            </tr>
            <tr>
                <td>Current User.Name:</td>
                <td>@(Source.User?.Name ?? "(n/a)")</td>
            </tr>
            <tr>
                <td>Active User Count:</td>
                <td>@Source.ActiveUserCount</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


@code {
    [Parameter]
    public string CssClass { get; set; } = "card";
    [Parameter]
    public string Title { get; set; } = null!;
    [Parameter]
    public ComposedValue Source { get; set; } = null!;
}
