@using Stl.OS
@using System.Web
@using System.Reflection
@inject BlazorModeHelper BlazorModeHelper
@inject IJSRuntime JSRuntime

@if (_isPrerendering) {
    <span>Loading...</span>
} else {
    <RadioGroup Class="@CssClass" TValue="bool"
                Name="BlazorMode"
                CheckedValue="@(BlazorModeHelper.IsServerSideBlazor)"
                CheckedValueChanged="@(v => BlazorModeHelper.ChangeMode(v))">
        @foreach(var mode in new [] {true, false}) {
            <Radio TValue="bool" Value="@mode">@GetModeName(mode)</Radio>
        }
    </RadioGroup>
}

@code {
    private bool _isPrerendering;
    private bool _isServerSideBlazor = BlazorModeHelper.IsServerSideBlazor;

    [Parameter]
    public string CssClass { get; set; } = "";

    protected override void OnInitialized()
    {
        var jsRuntimeType = JSRuntime.GetType();
        if (jsRuntimeType.Name != "RemoteJSRuntime") {
            _isPrerendering = false;
            return;
        }
        var fClientProxy = jsRuntimeType.GetField("_clientProxy", BindingFlags.Instance | BindingFlags.NonPublic);
        var clientProxy = fClientProxy?.GetValue(JSRuntime);
        _isPrerendering = fClientProxy != null && clientProxy == null;
    }

    private string GetModeName(bool isServerSideBlazor)
        => isServerSideBlazor ? "Blazor Server" : "Blazor WebAssembly";
}
