<Card Class="@CssClass">
    <CardHeader>@Title</CardHeader>
    <CardBody>
        <Table Narrow="true">
            <tbody>
            <tr>
                <td>Parameter:</td>
                <td>@Source.Parameter</td>
            </tr>
            <tr>
                <td>Uptime:</td>
                @{
                    var uptime = (int) Source.Uptime;
                }
                <td>@(uptime)s</td>
            </tr>
            <tr>
                <td>Acc.+Parameter:</td>
                <td>@(Source.Sum?.ToString() ?? "(n/a)")</td>
            </tr>
            <tr>
                <td>Last Chat Message:</td>
                <td>@Source.LastChatMessage</td>
            </tr>
            <tr>
                <td>Current User.Name:</td>
                <td>@(Source.User?.Name ?? "(n/a)")</td>
            </tr>
            <tr>
                <td>Active User Count:</td>
                <td>@Source.ActiveUserCount</td>
            </tr>
            </tbody>
        </Table>
    </CardBody>
</Card>

@code {
    [Parameter]
    public string CssClass { get; set; } = "";
    [Parameter]
    public string Title { get; set; } = null!;
    [Parameter]
    public ComposedValue Source { get; set; } = null!;
}
