@using System.Threading
@using System.Collections.Immutable
@inherits LiveComponentBase<GameList.Model, int?>
@inject IGameService Games
@inject IGameUserService GameUsers
@inject ImmutableDictionary<string, IGameEngine> GameEngines;

@{
    var state = State.LastValue;
    var error = State.Error;
}

<div class="@CssClass">
    <Heading Size="HeadingSize.Is4">@Title</Heading>
    <WhenUpdateError Exception="@error" />
    @if (state.Games.Count > 0) {
        <Table Narrow="true" Striped="true">
            <TableHeader>
                <TableHeaderCell>Creator</TableHeaderCell>
                <TableHeaderCell>Players</TableHeaderCell>
                <TableHeaderCell>Created</TableHeaderCell>
                <TableHeaderCell></TableHeaderCell>
            </TableHeader>
            <TableBody>
                @foreach(var game in state.Games) {
                    <TableRow>
                        <TableRowCell>
                            <GameUserBadge User="@state.GetUser(game.UserId)"/>
                        </TableRowCell>
                        <TableRowCell>
                            <GameUsersBadge Users="@game.Players.Select(p => state.GetUser(p.UserId))"/>
                        </TableRowCell>
                        <TableRowCell>
                            <MomentsAgoBadge Time="@game.CreatedAt"/>
                        </TableRowCell>
                        <TableRowCell>
                            <Button Size="Size.Small" Color="Color.Info"
                                    Type="@ButtonType.Link" To="@(LinkBuilder.Game(game.EngineId, game.Id))">Open</Button>
                        </TableRowCell>
                    </TableRow>
                }
            </TableBody>
        </Table>
    } else {
        <Badge Color="Color.Secondary">No games found.</Badge>
    }
</div>

@code {
    public record Model {
        public ImmutableList<Game> Games { get; init; } = ImmutableList<Game>.Empty;
        public ImmutableDictionary<long, GameUser> Users { get; init; } = ImmutableDictionary<long, GameUser>.Empty;

        public GameUser GetUser(long userId) => Users.GetValueOrDefault(userId) ?? GameUser.None;
    }

    [Parameter]
    public string CssClass { get; set; } = "";
    [Parameter]
    public string Title { get; set; } = "Other players' games you can join";
    [Parameter]
    public string GameEngineId { get; set; } = "";
    [Parameter]
    public GameStage? GameStage { get; set; }

    protected override async Task<Model> ComputeStateAsync(CancellationToken cancellationToken)
    {
        var count = Locals.Value ?? 100;
        var games = await Games.ListAsync(GameEngineId, GameStage, count, cancellationToken);
        var userIds = games
            .SelectMany(g => g.Players.Select(p => p.UserId))
            .Concat(games.Select(g => g.UserId))
            .ToHashSet();
        var users = await userIds.ParallelSelectToListAsync((id, ct) => GameUsers.FindAsync(id, ct), cancellationToken);
        return new Model() {
            Games = games,
            Users = users.Where(u => u != null).ToImmutableDictionary(u => u!.Id)!,
        };
    }
}
