<div class="top-row navbar navbar-dark">
    <a class="navbar-brand" href="">Fusion+Blazor Sample</a>
    <button class="navbar-toggler" @onclick="ToggleExpanded">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@(IsExpanded ? "" : "collapse")" @onclick="ToggleExpanded">
    <ul class="nav flex-column p-3">
        @MenuItem("home", "Home", "", NavLinkMatch.All)
        @MenuItem("person", "Authentication", "authentication")
        <li class="p0 mb-1 mx-auto text-white">&#8943;</li>
        @MenuItem("code", "Source @ GitHub", "https://github.com/servicetitan/Stl.Fusion.Samples")
    </ul>
</div>

@code {
    private bool IsExpanded { get; set; } = true;

    private void ToggleExpanded()
        => IsExpanded = !IsExpanded;

    private RenderFragment MenuItem(string icon, string title, string href, NavLinkMatch match = NavLinkMatch.Prefix)
    {
        var target = href.StartsWith("http://") || href.StartsWith("https://") ? "_blank" : "";
        return @<li class="nav-item">
            <NavLink class="nav-link" href="@href" Match="@match" target="@target">
                <span class="oi oi-@icon" aria-hidden="true"></span> @title
            </NavLink>
        </li>;
    }
}
